/*
	Global
*/
html, body{
	font-size: 13px;
	background: url('http://creattica.com/images/backgrounds/noise.png');
}

// base color
@color1 : #61807E;
@color2 : #52948F;
@color3 : #DAB68F;
@color4 : #BF0404;
@color5 : #8D2120;

.container.main{
	padding-top:1em;
	border-top:5px solid @color4;
	height: auto;
	height: 100%;
}

.simplebox{
  outline: none;
  border:none !important;
  box-shadow:none !important;
  border-bottom: 1px dashed #d2d2d2 !important;
  color: @color4 !important;
  border-radius: 0 !important;
  background: transparent!important;
}
/* webkit solution */
::-webkit-input-placeholder { text-align:right; font-size: 11px }
/* mozilla solution */
input:-moz-placeholder { text-align:right; font-size:11px;}
input{
	font-size: 13px!important;
}
.b-top-3{
	margin-top: 3em;
	border-top: 5px solid #d2d2d2;
}
.center{
	text-align: center;
	vertical-align: middle !important;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.action-login{
	margin-top: 2em;
	.btn-login{
		border-radius: 16px;
		padding:0.5em 3em;
		border:1px solid #d2d2d2;
	}
}
/*
	Header
*/
header.header{
	.page-header{
		margin-bottom: 10px;
		margin-top: 10px;
		h1.logo{
			font-family: "HelveticaNeue-Light", "Helvetica Neue";
			font-size: 24px;
			line-height: 32px;
		}
		border-color: #d2d2d2;
	}
}

/*
	Navigation
*/
nav{
	.nav-pills{
		li{
			a{
				color:#fff;
				background: @color4;
				margin-right: 0.5em;
			}
			a:hover{
				color:#fff;
				background: @color5;
			}
		}
	}
}

/*
	Content
*/
.content{
	height:auto;
	margin-bottom: 2em;
	.login{
		height:100%;
		vertical-align: middle;
		margin-top: 1em;
	}
	legend{
		border:none;
	}
	.mhs{
		margin-bottom: 2em;
	}
	.mhs-list{
		padding:10px;
		background:whiteSmoke;
		position:relative;
		.tweet{
			background: #00BBF5;
			padding:5px;
			margin-bottom: 5px;
			color:#373737;
			text-shadow:0 0.8px 0 #fff;
			p{ padding:0; margin:0; font-size: 11px; line-height: 15px;}
			.tweet-user{
				font-weight: bold;
			}
		}
		.fb{
			background: #3B5998;
			padding:5px;
			margin-bottom: 5px;
			color:#f2f2f2;
			text-shadow:0 0.8px 0 #fff;
			p{ padding:0; margin:0; font-size: 11px; line-height: 15px;}
			.fb-user{
				font-weight: bold;
			}
		}
	}
	.nim{
		vertical-align: middle;
		font-size: 18px;
		font-weight: bold;
		padding:0.8em;
		background: #ccc;
		text-shadow:0px 1px 0px #d2d2d2;
	}
	.profile-head{
		vertical-align: middle;
		font-size: 18px;
		font-weight: bold;
		padding:0.8em;
		background: #8B0000;
		text-shadow:0px 3px 0px #000000;
		border-radius: 0 10px 0 0;
		color:white;
	}
	.photo-content{
		padding:10px;
		background:#FFFAF0;
		position:relative;
		border-radius: 20px 0 0 20px;
		box-shadow:3px 2px 25px 1px;		
		.photo-border{
			background: #8B0000;
			padding:5px;
			margin-bottom: 5px;
			color:white;			
			text-shadow:0px 3px 0px #000000;
			border-radius: 8px 0 0 8px;						
		}
	}
	.profil-content{
		padding:10px;
		background:#FFFAF0;
		position:relative;
		border-radius: 0 20px 20px 20px;
		box-shadow:3px 2px 25px 1px;
		.bio{
			color:#5F9EAD;
			margin-left:50px;
			margin-right:50px;
			.profil-tag{
				color:#000000;
				margin-top:-20px;
				margin-left:15em;
				margin-right:15em;
			}
		}
	}
	.choose-btn{
		margin-top:-30px;
		margin-bottom:15px;
		margin-left:5px;
		horizontal-align: left;
	}
	.upload-btn{
		margin-top:-48px;
		margin-left:180px;
		margin-bottom:15px;
		horizontal-align: left;
	}
	.btn-edit{
		margin-top:-70px;
		margin-left:41.6em;
		margin-bottom:40px;
		float:top;
	}
}


/*
	Footer
*/
footer{
	margin-top: 1em;
	.footer{
		padding:1em;
		background: @color3;
		border-top: 5px solid @color4;
		padding-top: 1em;
	}
}



